<section class="orders-show">
<tr>
<td>
 <%= order.product.image %>
 </td>
 <td>
 <%= order.product.name %>
 </td>
 <td>
 <%= order.product.description %>
 </td>
 <td>
 <%= order.product.quantity %>
 </td>
 <td>
 <%= order.product.image %>
 </td>
 <td>
 <%= user_detail.email %>
 </td>
 <td>
 <%= user_detail.total_cents %>
 </td>
</tr>
</section>
